@tailwind base;
@tailwind components;
@tailwind utilities;

.orbitron {
	font-family: "Orbitron", sans-serif;
}

.exo {
	font-family: "Exo", sans-serif;
}

.sacramento {
	font-family: "Sacramento", sans-serif;
}

.rounded-vid {
	border-radius: 3rem !important;
}
